# ==========================================
# .gitignore para Proyecto FundMix (Python)
# ==========================================

# Caché de Python (NO SUBIR)
__pycache__/
*.py[cod]
*$py.class
*.so

# Entornos Virtuales (NO SUBIR)
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Archivos del Sistema Operativo
.DS_Store
Thumbs.db

# Configuración local de IDEs/Editores
.vscode/
.idea/
.cursorignore

# Archivos temporales de Streamlit (Opcional por seguridad futura)
.streamlit/secrets.toml
